*{
    margin: 0;
    padding: 2;
}
.logotipo{
    height: 300px;
}
main{
    background-color: goldenrod;
    height: 690px;
    color: rgb(0, 0, 0);
}
header{
    background-color: black;
    height: 400px;
}
footer{
    background-color: black;
    height: 600px;
    color: goldenrod;
}
.rei{
    height: 400px;
}
.mapeado{
    height: 200px;
}
.mapeando{
    height: 200px;
}