.logo{

height: 200px;

}

body{


    color: aliceblue;
    height: 300px;
background-color: black


}



header{

height: 200px;
background-color: rgb(92, 92, 92);

}

footer{

height: 400px;
background-color: rgb(92, 92, 92);

}

body{

height: 600px;

}

.logotipo{

height: 200px;

}